{% extends 'bootstrap/base.html' %}
<html>
    <head>
        {% block title %}
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
        {% endblock %}
    </head>

    <body>
        <div>
            {% block navbar %}
            Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% endblock %}
        </div>
        <hr>
        {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block app_content %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>